.sprites {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}
.england {
  background-position: 0 0;
}
.brazil {
  background-position: -32px 0;
}
.spain {
  background-position: -64px 0;
}
.germany {
  background-position: -96px 0;
}
.europe {
  background-position: -128px 0;
}
.usa {
  background-position: -160px 0;
}
